@media  screen and (max-width: 768px) {
    .banner__img{
        height: 15rem;
    }

    .contacto{
        flex-direction: column;
        align-self: center;
    }

    .contacto__information{
        flex-direction: column;
        margin-bottom: 2rem;
    }

    .logo__img.footer{
        margin-bottom: 3rem;
        width: 25rem;
    }

    .contacto__information{
        width: 50%;
    }


}

@media  screen and (max-width: 650px ) {

    .cabecera{
        flex-direction: column;
    }

    .logo_search{
        flex-direction: column;
        align-items: center;
        margin-bottom: 1rem;
    }

    .logo__img.footer{
        gap: 1rem;
        width: 15rem;
    }

    .productos{
        margin-top: 1rem;
    }

    .formulario__contacto > input{
        width: auto;
    }
}


@media  screen and (max-width: 360px ) {

    .cabecera{
        flex-direction: column;
    }

    .banner__img{
        height: 7rem;
    }
    
    .text__banner{
        font-size: 1rem;
        margin-left: 1rem;
    }

    .productos{
        gap: 0;
        margin-top: 1rem;
    }

    .logo_search{
        flex-direction: column;
        align-items: center;
        margin-bottom: 1rem;
    }

    .logo__img .footer{
        width: 15rem;
    }

    .formulario__contacto > input{
        width: auto;
    }

    .footer__information{
        width: 10rem;
    }
}